pandas==2.3.3
numpy==2.4.0
matplotlib==3.10.8
seaborn==0.13.2
wordcloud==1.9.5
nltk==3.9.2
regex==2025.11.3
scikit-learn==1.7.0
imbalanced-learn==0.14.1
tensorflow==2.20.0
keras==3.13.0
optuna==4.8.0
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.3
requests==2.32.3
httplib2==0.31.0
ipykernel==7.1.0
ipython==9.8.0
jupyter_client==8.7.0
jupyter_core==5.9.1
nbformat==5.10.4
notebook==7.4.2
joblib==1.5.3
tqdm==4.67.1
pyyaml==6.0.3